div.content_hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  div.left {
    padding: .5rem;
    text-align: center;

    h1 {
      font-family: 'Poppins', sans-serif;
      font-weight: 800;
      font-size: 3rem;
      color: var(--purple-800);
      margin-bottom: 1rem;
      cursor: default;

      p {
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        font-size: 3rem;
        color: var(--purple-800);
        display: inline;
        margin: 0;

        span {
          // color: var(--purple-800);
          font-family: 'Abril Fatface', cursive;
          font-size: 3.8rem;
          text-decoration: underline;
          text-decoration-color: var(--orange-800);
        }
      }

    }

    p {
      font-size: 1.3rem;
      color: var(--gray-400);
      margin: 2rem 0 3rem 0;
    }

    button {
      width: 85%;
      font-size: 1.2rem;
      padding: .6rem 1rem;

      svg {
        vertical-align: middle;
        transform: rotate(-30deg);
        margin-right: .5rem;
      }

    }

  }

  div.right {
    display: none;

    img.illustration_animation {
      opacity: 0;
      transform: translateX(5%) translateY(-5%);
    }
  }

}

@media only screen and (min-width: 360px) {
  div.content_hero {
    div.left {
      h1 {
        font-size: 4rem;
        p {
          font-size: 4rem;
          span {
            font-size: 5rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 567px) {
  div.content_hero {
    div.left {
      text-align: center;
      h1 {
        font-size: 3.5rem;
        p {
          display: block;
          font-size: 3.5rem;
          span {
            font-size: 4.8rem;
          }
        }
      }
      button {
        width: auto;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  div.content_hero {
    div.left {
      h1 {
        font-size: 4rem;
        p {
          font-size: 4rem;
          span {
            font-size: 5.5rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  div.content_hero {
    justify-content: space-evenly;
    div.left {
      text-align: left;
      h1 {
        font-size: 3.2rem;
        p {
          font-size: 3.2rem;
          span {
            font-size: 4.5rem;
          }
        }
      }
      p {
        font-size: 1.2rem;
      }
    }

    div.right {
      display: block;
      position: relative;
      max-width: 50%;

      img.illustration_animation {
        position: absolute;
        top: 0;
        right: 0;
        transition: all .5s ease-in-out;

        &:hover  {
          opacity: 1;
          transform: translateX(0) translateY(0);
          z-index: 2;
        }
      }

    }
  }
}

@media only screen and (min-width: 1366px) {
  div.content_hero {
    div.left {
      h1 {
        font-size: 3.5rem;
        p {
          font-size: 3.5rem;
          span {
            font-size: 5rem;
          }
        }
      }
      p {
        font-size: 1.4rem;
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  div.content_hero {
    div.left {
      h1 {
        font-size: 4rem;
        p {
          font-size: 4rem;
          span {
            font-size: 5.5rem;
          }
        }
      }
      p {
        font-size: 1.5rem;
        margin: 2rem 0 5rem 0;
      }
      button {
        font-size: 1.5rem;
        padding: .8rem 1.2rem;
      }
    }
  }
}
