section.hero {
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(90vh);
  flex-direction: column;
}

div.red {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(65vw - (var(--padding) * 2));
  max-width: 950px;
  height: calc(50vh - (var(--padding) * 2));
  max-height: 900px;
  background: var(--red);
  opacity: 0; // gsap
}

h1.text {
  text-align: center;
  cursor: default;
  span {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    transition: transform .2s ease-out;
    opacity: 0; // gsap
    &:hover {
      transform: scale(1.05) !important;
    }
    &:nth-child(2) {
      font-weight: 700;
      font-size: 2rem;
      color: var(--white);
    }
  }
}

div.footer {
  width: 100%;
  min-height: 10vh; // TODO - VERIFICAR SE ESTÁ SEMPRE DO MESMO TAMANHO DO NAVBAR
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

div.red_line {
  width: 50px;
  height: var(--line-height);
  background: var(--red);
  margin-bottom: .1rem;
  transition: transform .2s ease-in-out;
  &:hover{
    transform: rotate(45deg);
  }
}

svg.arrow_down {
  font-size: 2rem;
  color: var(--black);
  transition: all .2s ease-in-out;
  cursor: pointer;
  &:hover {
    color: var(--gray);
    transform: translateY(5px);
  }
}

@media only screen and (min-width: 360px) {
  div.red {
    width: calc(70vw - (var(--padding) * 2));
  }
  h1.text {
    span {
      font-size: 4.2rem;
      &:nth-child(2) {
        font-size: 3rem;
      }
    }
  }
}

@media only screen and (min-width: 476px) {
  div.red {
    width: calc(60vw - (var(--padding) * 2));
  }
  h1.text {
    span {
      font-size: 5rem;
      &:nth-child(2) {
        font-size: 3.5rem;
      }
    }
  }
}

@media only screen and (min-width: 540px) and (orientation: portrait)  {
  h1.text {
    span {
      font-size: 5.5rem;
      &:nth-child(2) {
        font-size: 4rem;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
  h1.text {
    span {
      font-size: 7rem;
      &:nth-child(2) {
        font-size: 5rem;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {

  @media (orientation: portrait) {
    h1.text {
      span {
        font-size: 10rem;
        &:nth-child(2) {
          font-size: 6rem;
        }
      }
    }
  }

  @media (orientation: landscape) {
    div.hide_landscape {
      display: none ;
    }
    div.red {
      width: calc(50vw - (var(--padding) * 2));
      height: calc(75vh - (var(--padding) * 2));
    }
    h1.text {
      line-height: 7.5rem;
      span {
        font-size: 9rem;
        &:nth-child(2) {
          font-size: 6rem;
        }
      }
    }
  }

}

@media only screen and (min-width: 1366px) {
  div.red {
    width: calc(45vw - (var(--padding) * 2));
  }
  h1.text {
    line-height: 8rem;
    span {
      font-size: 10rem;
      &:nth-child(2) {
        font-size: 7rem;
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  h1.text {
    line-height: 9rem;
    span {
      font-size: 12rem;
      &:nth-child(2) {
        font-size: 7rem;
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  div.red {
    width: calc(50vw - (var(--padding) * 2));
  }
  h1.text {
    line-height: 12rem;
    span {
      font-size: 15rem;
      &:nth-child(2) {
        font-size: 10rem;
      }
    }
  }
}
