div.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    opacity: 0; //gsap
  }

  img {
    height: 2rem;
  }

  button {
    border: none;
    padding: 0;
    cursor: pointer;
    opacity: 0; //gsap

    &:hover {
      color: var(--gray);
    }

    svg {
      font-size: 2rem;
      vertical-align: middle;
    }
  }
}
