section.sobre {
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

div.content_flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

div.card_dic {
  display: none !important;
}

div.card {
  padding: var(--padding);
}

div.card_left {
  display: none;
}

div.card_right {
  p {
    text-align: justify;
  }
}

div.social {
  width: fit-content;
}


@media only screen and (min-width: 768px) {

  div.card {
    display: flex;
    padding: 0;
  }

  div.card_left {
    display: flex;
    padding: var(--padding);

    svg {
      font-size: 2rem;
    }
  }

  div.card_right {
    padding: var(--padding);
    p {
      line-height: 1.6rem;
    }
  }

}

@media only screen and (min-width: 1024px) {

  div.content_flex {
    flex-direction: row;
    gap: 2rem;
  }

  div.card {
    flex-grow: 1;
    flex-basis: 0;
  }

  div.card_dic {
    display: flex !important;
    h3 {
      font-size: 2.5rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-style: italic;
      margin-bottom: .5rem;
      a {
        text-decoration: none;
        color: var(--black);
      }
    }
    p {
      &:first-of-type {
        font-style: italic;
        margin-bottom: 1rem;
      }
    }
  }

  @media (orientation: portrait) {


  }

  @media (orientation: landscape) {

    div.card_left {
      padding: calc(var(--padding) / 2);
    }

    div.card_right {
      padding: calc(var(--padding) / 2);
      p {
        line-height: 1.4rem;
      }
    }

  }

}

@media only screen and (min-width: 1920px) {

  div.card_left {
    padding: var(--padding);
  }

  div.card_right {
    padding: var(--padding);
    p {
      line-height: 1.6rem;
    }
  }

}
