:root {
  --white: #FFFFFF;
  --black: #000000;
  --red: #FF0000;

  --gray: #5A5A5A;
  --blue: #0000FF;

  --padding: 1rem;

  --line-height: 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  color: var(--black);
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

button {
  border-radius: 0;
  border: 1px solid;
  padding: .25rem 1rem;
  background: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

button.btn-black {
  border-color: var(--black);
  color: var(--black);
  &:hover {
    color: var(--white);
    background: var(--black)
  }
}

button.btn-white {
  border-color: var(--white);
  color: var(--white);
  &:hover {
    color: var(--black);
    background: var(--white)
  }
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

ul li, ol li {
  list-style-type: none;
}

a {
  color: var(--blue);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: var(--blue);
  }
}

img.logo {
  transition: all .2s ease-in-out;
  &:hover {
    background: var(--red);
  }
}

.full-vh {
  min-height: 100vh;
}

.ninety-vh{
  min-height: 90vh;
}

.ten-vh {
  min-height: 10vh;
}

.heading {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  white-space: nowrap;
  &:after {
    content: '';
    width: 100%;
    height: var(--line-height);
    background: var(--red);
  }
}

.sub-heading {
  font-size: 1.1rem;
  color: var(--gray);
  margin-bottom: 2rem;
}

.card {
  border: var(--line-height) solid var(--black);
  // padding: 1rem;
}

.card-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  background: var(--black);
  padding: var(--padding);
  & div:last-of-type {
    content: '';
    width: var(--line-height);
    height: 100%;
    margin: 1rem 0 0 0;
    background: var(--white);
  }
}

.zoom-hover {
  transition: transform .2s ease-in-out;
  &:hover{
    transform: scale(1.05);
  }
}

.react-icons {
  vertical-align: middle;
}

// Media Querys //

@media only screen and (min-width: 540px) {
  .heading {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
  :root {
    --padding: 1.5rem;
  }
  .heading {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 1024px) {
  :root {
    // --padding: 2rem;
  }
}

@media only screen and (min-width: 1366px) {

}

@media only screen and (min-width: 1600px) {
  html {
    font-size: 17px;
  }
}

@media only screen and (min-width: 1920px) {
  :root {
    --line-height: 10px;
  }
  html {
    font-size: 18px;
  }
}

@media only screen and (min-height: 1081px) {
  .full-vh, .ninety-vh, .ten-vh {
    min-height: auto;
  }
}
