:root {
  --white: #FFFFFF;
  --black: #000000;
  --red: #FF0000;

  --gray: #5A5A5A;
  --blue: #0000FF;

  --padding: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

html {
  font-size: 15px;
}

body {
  background: var(--white);
  color: var(--black);
  scroll-behavior: smooth;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

button {
  border-radius: 0;
  border: 1px solid;
  padding: .25rem 1rem;
  background: none;
  transition: all 0.2s ease-in-out;
}

button.btn-black {
  border-color: var(--black);
  color: var(--black);
  &:hover {
    color: var(--white);
    background: var(--black)
  }
}

button.btn-white {
  border-color: var(--white);
  color: var(--white);
  &:hover {
    color: var(--black);
    background: var(--white)
  }
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

ul li, ol li {
  list-style-type: none;
}

img.logo {
  transition: all .2s ease-in-out;
  &:hover {
    background: var(--red);
  }
}

.sub-headers {
  color: var(--gray);
}

.card {
  border: 10px solid var(--black);
  padding: 1rem;
}

.zoom-hover {
  transition: transform .2s ease-in-out;
  &:hover{
    transform: scale(1.05);
  }
}

.react-icons {
  vertical-align: middle;
}

// Media Querys //

@media only screen and (min-width: 576px) {
  html {
    font-size: 16px;
  }

}

@media only screen and (min-width: 768px) {
  :root {
    --padding: 1.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  //
}

@media only screen and (min-width: 1366px) {

}

@media only screen and (min-width: 1600px) {
  html {
    font-size: 17px;
  }
}

@media only screen and (min-width: 1920px) {
  html {
    font-size: 18px;
  }
}

@media (orientation: portrait) and (min-width: 769px) {
  // .full-height-landscape {
  //   min-height: 50vh;
  // }
  // .ninety-height-landscape {
  //   min-height: 45vh;
  // }
  // .ten-height-landscape {
  //   min-height: 5vh;
  // }
}




// h1 {
//   font-size: calc(#{1rem * 1.618} * 1.618 * 1.618 * 1.618);
// }

// h2 {
//   font-size: calc(#{1rem * 1.618} * 1.618 * 1.618);
// }

// h3 {
//   font-size: calc(#{1rem * 1.618} * 1.618);
// }

// h4 {
//   font-size: calc(1rem * 1.618);
// }

// .content {
//   margin: auto;
//   padding: 2rem;
//   max-width: 1366px;
//   text-align: center;
// }

// .full-height-landscape {
//   min-height: 100vh;
// }
// .ninety-height-landscape {
//   min-height: 90vh;
// }
// .ten-height-landscape {
//   min-height: 10vh;
// }


// hr {
//   border-top: 1px solid var(--gray-100);
//   margin: .8rem 0 .8rem 0;
// }

// .logo {
//   font-size: 1.3rem;
//   font-family: 'Poppins', sans-serif;
//   font-weight: 700;
//   color: var(--purple-800);

//   & span {
//     font-size: 1.3rem;
//     font-family: 'Poppins', sans-serif;
//     font-weight: 700;
//     color: var(--orange-800);
//   }
// }

// .hero-illustration {
//   max-width: 100%;
//   max-height: 70vh;
// }

// .btn-cta {
//   color: var(--white);
//   border: none;
//   background-color: var(--orange-800);
//   &:hover {
//     transform: scale(1.10);
//     background-color: var(--purple-800);
//   }
// }

// .font-size-small {
//   font-size: 93.75%;// 15 px
// }

// .social-icons {
//   padding: .3rem;
//   margin: 0 .5rem;
//   border: 1px solid var(--black);
//   fill: var(--gray-100);
//   border-radius: 40%;
//   vertical-align: middle;
//   transition: all .2s ease-in-out;
//   &:hover {
//     background-color: var(--white);
//     transform: scale(1.10);
//   }
// }

// .headers {
//   text-align: center;
//   color: var(--gray-500);
//   display: inline;
//   border-bottom: solid 5px var(--purple-800);
// }

// .vote-btn {
//   border: none;
//   padding: 0;
//   font-size: 1.5rem;
//   color: var(--gray-300);

//   &:hover {
//     background: inherit;
//     color: var(--orange-300);
//   }

//   &.voted {
//     color: var(--orange-300);
//     &:hover {
//       color: var(--gray-300);
//     }
//   }

//   svg {
//     height: 95%; // para alinhar o span do meio no centro
//   }

// }



// Media Querys //
// @media only screen and (max-width: 359px) {
//   html {
//     font-size: 14px;
//   }
// }

// @media only screen and (min-width: 360px) {
//   html {
//     font-size: 15px;
//   }
//   .headers {
//     font-size: 2rem;
//   }
// }

// @media only screen and (min-width: 576px) {
//   html {
//     font-size: 16px;
//   }
//   .sub-headers {
//     text-align: center;
//   }
// }

// @media only screen and (min-width: 768px) {
//   //
// }

// @media only screen and (min-width: 1024px) {
//   //
// }

// @media only screen and (min-width: 1366px) {
//   .headers {
//     font-size: 2.5rem;
//   }
// }

// @media only screen and (min-width: 1920px) {
//   html {
//     font-size: 18px;
//   }

//   .headers {
//     font-size: 3rem;
//   }

//   .sub-headers {
//     font-size: 1.1rem;
//   }
// }

// @media (orientation: portrait) and (min-width: 769px){
//   .full-height-landscape {
//     min-height: 50vh;
//   }
//   .ninety-height-landscape {
//     min-height: 45vh;
//   }
//   .ten-height-landscape {
//     min-height: 5vh;
//   }
// }
