* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

// Colors
:root {
  --white: #FFF;

  --gray-100: #F5F6F8;
  --gray-200: #EEEDED;
  --gray-300: #929292;
  --gray-500: #505050;

  --purple-300: #5E85C5;
  --purple-800: #0061FE;

  --orange-300: #FC724D;
  --orange-800: #FF5426;
}

body {
  background: var(--gray-200);
  color: var(--gray-500);
}

.content {
  margin: auto;
  padding: 2rem;
  max-width: 1366px;
  text-align: center;
}

a {
  color: var(--purple-300);
  text-decoration: solid underline transparent;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: var(--purple-800);
    text-decoration: underline;
    text-decoration-color: var(--purple-800);
  }
}

button {
  font-size: 1rem;
  color: var(--purple-800);
  background-color: inherit;
  border-radius: 1.5rem;
  padding: .5rem 1rem;
  cursor: pointer;
  border: 1px solid var(--purple-800);
  transition: all 0.3s ease-in-out;
  &:hover {
    color: var(--white);
    background-color: var(--purple-800);
  }
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

ul li, ol li {
  list-style-type: none;
}

hr {
  border-top: 1px solid var(--gray-100);
  margin: .8rem 0 .8rem 0;
}

.logo {
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: var(--purple-800);

  & span {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--orange-800);
  }
}

.hero-illustration {
  max-height: 30rem;
}

.btn-cta {
  color: var(--white);
  border: none;
  background-color: var(--orange-800);
  // padding: .5rem 1rem;
  &:hover {
    transform: scale(1.10);
    background-color: var(--purple-800);
  }
  & text {
    vertical-align: middle;
  }
  & img {
    margin-right: .4em;
    height: 1.2em;
    vertical-align: middle;
  }
}

.font-size-small {
  font-size: 93.75%;// 15 px
}

.zoom-hover {
  transition: transform .3s;
  &:hover{
    transform: scale(1.05);
  }
}

.social-icons {
  color: var(--purple-800);
  border-radius: 50%;
  transition: all ease-in-out .2s;
  &:hover {
    transform: scale(1.10);
  }
}

.twitter {
  &:hover{
    color: #1DA1F2 !important;
  }
}

.instagram {
  &:hover{
    color: #E1306C !important;
  }
}

.facebook {
  &:hover{
    color: #4267B2 !important;
  }
}

.headers {
  text-align: center;
  color: var(--gray-500);
  display: inline;
  border-bottom: solid 2px var(--purple-800);
}

.sub-headers {
  color: var(--gray-300);
  margin: 1rem 0 2rem 0;
  text-align: justify;
}

.card {
  background: var(--white);
  color: var(--gray-500);
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  -moz-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  -moz-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.vote-btn {
  border: none;
  padding: 0;
  font-size: 1.5rem;
  color: var(--gray-300);

  &:hover {
    background: inherit;
    color: var(--orange-300);
  }

  &.voted {
    color: var(--orange-300);
    &:hover {
      color: var(--gray-300);
    }
  }

  svg {
    height: 95%; // para alinhar o span do meio no centro
  }

}

.react-icons {
  vertical-align: middle;
}

// Media Querys //
@media only screen and (max-width: 359px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 360px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (min-width: 576px) {
  html {
    font-size: 16px;
  }
  .sub-headers {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .headers {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1024px) {
  .headers {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1366px) {
  .headers {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1920px) {
  html {
    font-size: 18px;
  }

  .headers {
    font-size: 3rem;
  }

  .sub-headers {
    font-size: 1.1rem;
  }
}

@media (orientation: landscape) {
  .full-height-landscape {
    min-height: 100vh;
  }
  .ninety-height-landscape {
    min-height: 90vh;
  }
}

@media (orientation: portrait) {
  .full-height-landscape {
    min-height: auto;
  }
  .ninety-height-landscape {
    min-height: auto;
  }
}
