
/*
section.how_works {
  background: var(--purple-800);
}

div.content_how_works {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  div.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0;

    div.headers {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 0;
      flex-grow: 1;
      min-width: 16rem;
      cursor: default;

      h2 {
        color: var(--white);
        border-bottom: solid 5px var(--orange-300);
        transition: all .2s ease-in-out;
      }

      p.p_sub_header {
        color: var(--gray-100) !important;
        margin: 1rem 0 0 0;
      }

    }

    div.card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-basis: 0;
      flex-grow: 1;
      padding: 1.2rem;
      min-width: 16rem;
      cursor: default;

      &:hover {
        svg {
          transform: rotate(360deg);
        }
      }

      header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 1rem;

        svg {
          color: var(--purple-800);
          font-size: 1.2rem;
          margin-right: .5rem;
          transition: all .5s ease-in-out;
        }

        h3 {
          color: var(--purple-800);
          border-bottom: solid 2px var(--orange-300);
        }

      }

      p {
        text-align: justify;
        line-height: 1.5rem;
        color: var(--gray-300);
      }
    }
  }
}

@media only screen and (min-width: 375px) {
  div.content_how_works {
    div.cards {
      gap: 1.5rem;
      div.card {
        padding: 2rem;
      }
    }
  }
}

@media only screen and (min-width: 617px) {
  div.content_how_works {
    div.cards {
      div.headers {
        padding: 1rem 2rem;
        h2 {
          text-align: left;
          font-size: 2.5rem;
        }
        p {
          text-align: left;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  div.content_how_works {
    div.cards {
      div.card {
        header {
          svg {
            font-size: 1.3rem;
          }
          h3 {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1177px) {
  div.content_how_works {
    div.cards{
      div.headers {
        min-width: 20rem;

        h2 {
          font-size: 3rem;
        }
      }
      div.card {
        min-width: 20rem;
      }
    }
  }
}

@media only screen and (min-width: 1366px) {
  div.content_how_works {
    div.cards {
      div.card {
        header {
          margin-bottom: 1.5rem;
          svg {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  div.content_how_works {
    div.cards {
      div.headers {
        h2 {
          font-size: 4rem;
        }
      }
      div.card {
        header {
          flex-direction: column;
          svg {
            font-size: 3rem;
            margin-right: 0;
            margin-bottom: 2rem;
          }
          h3 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
*/
