section.four_o_four_section {
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p.sub_heading {
  margin-bottom: 0;
}

div.four_o_four_div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 2;

  h1 {
    font-size: calc(10 * 1rem);
    text-shadow: calc(1rem / 1.5) calc(1rem / 1.5) var(--red);
    line-height: 15rem;
  }
}

h2.heading {
  white-space: normal;
}

@media only screen and (min-width: 540px) {

  h2.heading {
    white-space: nowrap;
  }

}

@media only screen and (min-width: 768px) {

  div.four_o_four_div {
    h1 {
      font-size: calc(20 * 1rem);
      text-shadow: 1rem 1rem var(--red);
    }
  }

}

@media only screen and (min-width: 1366px) {

  div.four_o_four_div {
    h1 {
      font-size: calc(25 * 1rem);
    }
  }

}
