header.header {
  //background: var(--white);

  div.content_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    button.mobile_menu_btn {
      font-size: 1.5rem;
      color: var(--purple-800);
      border: none;
      background: inherit;
      padding: 0;
      &:hover {
        color: var(--orange-800);
      }

      svg {
        vertical-align: middle;
      }
    }

    div.logo_div {
      display: flex;

      a {
        text-decoration: none;
      }
    }

    div.social_div {
      display: none;
    }

  }
}

@media only screen and (min-width: 768px) {
  button.mobile_menu_btn {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  header.header {

    div.content_header {

      div.logo_div {
        display: flex;
        flex-grow: 1;
        flex-basis: 0;
      }

      nav {
        display: flex;
        justify-content: center;
        flex-grow: 3;
        flex-basis: 0;
      }

      div.social_div {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
        flex-basis: 0;

        a {
          svg {
            font-size: 1.6rem;
            fill: var(--gray-400);
            border: 1px solid var(--gray-400);
          }
        }
      }

    }
  }

}
