footer.footer {
  background: var(--purple-800);
  color: var(--white);

  div.content_footer {
    font-size: .9rem;

    div.footer_left_div {
      display: none;
      height: 5rem;
    }

    div.footer_center_div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 5rem;

      div {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          margin: 0 .5rem;
        }
      }
    }

    div.footer_right_div {
      display: none;
      height: 5rem;
    }
  }
}

@media only screen and (min-width: 1024px) {

  footer.footer {
    div.content_footer {
      display: flex;
      align-items: center;
      justify-content: space-between;


      div.footer_left_div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        flex-grow: 1;
        flex-basis: 0;

        div {
          background: var(--white);
          padding: .2rem 1rem;
          border-radius: 2rem;
        }
      }

      div.footer_center_div {
        flex-grow: 2;
        flex-basis: 0;
      }

      div.footer_right_div {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
        flex-basis: 0;

        ul {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: space-between;
        }

        a {
          color: var(--white);
          &:hover {
            color: var(--orange-300);
            text-decoration-color: var(--orange-300);
          }
        }
      }
    }
  }
}
