footer.footer {
  padding: var(--padding) var(--padding) 0 var(--padding);
  background: var(--black);
  color: var(--white);
}

div.content_flex {
  display: flex;
  justify-content: space-between;
  li {
    padding: .2rem 0;
    a {
      color: var(--white);
      transition: all .2s ease-in-out;
      &:hover {
        color: var(--blue);
      }
    }
  }
}

div.left {
  padding-bottom: var(--padding);
  flex-grow: 1;
  flex-basis: 0;
  img {
    height: 2rem;
  }

  div.social {
    margin: 1.5rem 0;
  }
}

div.center {
  display: none;
}

div.right {
  padding-bottom: var(--padding);
  text-align: right;
  flex-grow: 1;
  flex-basis: 0;
  svg {
    font-size: 2rem;
    transition: all .2s ease-in-out;
    cursor: pointer;
    &:hover {
      transform: translateY(-5px);
      opacity: .9;
    }
  }

  div.menu {
    margin: 1.5rem 0;
  }
}


@media only screen and (min-width: 768px) {
  div.center {
    display: contents;
    img {
      height: 14rem;
    }
  }
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {
  footer.footer {
    height: 100vh;
  }

  div.content_flex {
    li {
      padding: .5rem 0;
    }
  }

  div.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    img {
      height: 3rem;
    }
  }

  div.center {
    img {
      height: calc(100vh - var(--padding));
    }
  }

  div.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    svg {
      font-size: 3rem;
    }
  }

}

@media only screen and (min-height: 1081px) {
  footer.footer {
    height: auto;
  }
  div.center {
    img {
      height: 25rem;
    }
  }
}
