section.boicote_section {
  padding: var(--padding);
  margin-bottom: 1rem;
}

div.content_flex {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

div.headings {
  h2, p {
    opacity: 0; //gsap
  }
}


div.boicote {
  width: 100%;
  flex-grow: 2;
  flex-basis: 0;
}

p.disclaimer {
  color: var(--gray);
  font-size: .9rem;
  text-align: justify;
  margin: 1.5rem 0;
  opacity: 0; //gsap
}

div.comentarios_headings {
  margin: 1.5rem 0;
  h3 {
    font-size: 2rem;
  }
}

div.tweets {
  display: none;
}

@media only screen and (min-width: 1366px) {

  div.tweets {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-bottom: 1rem;
  }

}
