.open_menu_mobile {
  transform: translateX(0);
}

.close_menu_mobile {
  transform: translateX(100%);
}

nav.nav {
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: var(--bg-color);
  padding: 2rem;
  // padding: 2rem 2rem 2rem 3rem; // Bugado nos testes desktop. Não sei pq não pega 1rem na direita
  transition: all 0.2s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  div.div_mobile_menu_exit_btn {
    width: 100%;
    text-align: right;

    button.mobile_menu_exit_btn {
      font-size: 3rem;
      color: var(--purple-800);
      border: none;
      background: inherit;
      padding: 0;

      &:hover {
        color: var(--orange-800);
      }
    }

  }

  ul {
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    hr {
      width: 100%;
      border-color: var(--purple-800);
    }

    li {
      font-size: 2rem;

      svg {
        display: none;
      }

      a {
        color: var(--purple-800);
        text-decoration: none;
        font-weight: 500;

        &:hover {
          color: var(--orange-800);
          text-decoration: none;
        }
      }

      &.menu_active a {
        text-decoration: underline;
        text-decoration-color: var(--orange-300);
        text-decoration-thickness: 3px;
      }

    }
  }

  div.social_div_mobile {
    svg {
      font-size: 1.6rem;
      fill: var(--purple-800);
      border: 2px solid var(--purple-800);
      font-size: 2.5rem;
      padding: .5rem;
    }
  }

}

@media only screen and (min-width: 768px) {
  .close_menu_mobile {
    transform: translateX(0);
  }

  nav.nav {
    position: unset;
    z-index: auto;
    background: unset;
    flex-direction: row;
    padding: 0;
    height: 100%;
    width: auto;

    div.div_mobile_menu_exit_btn {
      display: none;
    }

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      min-height: auto;
      width: auto;

      hr {
        display: none;
      }

      li {
        padding: 0;
        font-size: 1rem;
        text-align: unset;
        padding: 0 1rem;
        display: flex;
        align-items: center;

        &:hover {
          a {
            color: var(--purple-800);
            transform: scale(1.1);
            font-weight: 500;
          }
          svg {
            color: var(--purple-800);
          }
        }

        svg {
          display: block;
          transform: rotate(-30deg);
          color: var(--gray-400);
          margin-right: .25rem;
        }

        a {
          color: var(--gray-400);
          font-weight: 400;
          display: block;
          display: flex;
          align-items: center;
          transition: all .2s ease-in-out;
        }
      }
    }

    div.social_div_mobile {
      display: none;
    }
  }

}
