nav.nav {
  background: var(--white);
  position: fixed;
  min-height: 90vh;
  min-width: 100vw;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

div.illustrations {
  display: none;
}

ul.nav_items {
  text-align: center;

  li {
    padding: 0 1rem;
    transition: all .2s ease-in-out;

    &:hover {
      background: var(--black);
      a {
        color: var(--white);
      }

      & div.red_square {
        transform: rotate(10deg);
      }
    }

    a {
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 3rem;
      color: var(--black);
      display: block;
    }

    &.active a {
      text-decoration: underline;
      text-decoration-color: var(--red);
      text-decoration-thickness: 5px;
      text-underline-offset: -3%;
    }
  }

}

div.footer {
  width: 100%;
  min-height: 10vh; // TODO - VERIFICAR SE ESTÁ SEMPRE DO MESMO TAMANHO DO NAVBAR
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

div.red_line {
  width: 50px;
  height: 5px;
  background: var(--red);
  margin-bottom: .1rem;
  transition: transform .2s ease-in-out;
  &:hover{
    transform: rotate(45deg);
  }
}

@media only screen and (min-width: 360px) {
  ul.nav_items {
    li {
      a {
        font-size: 3.5rem;
      }
    }
  }
}

@media only screen and (min-width: 540px) and (orientation: portrait)  {
  ul.nav_items {
    li {
      a {
        font-size: 4rem;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
  ul.nav_items {
    li {
      a {
        font-size: 5rem;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {

  @media (orientation: portrait) {
    ul.nav_items {
      li {
        a {
          font-size: 6rem;
        }
        &.active a {
          text-underline-offset: -2%;
        }
      }
    }
  }

  @media (orientation: landscape) {
    ul.nav_items {
      text-align: right;
    }

    div.content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    div.illustrations {
      display: block;
      width: calc(50vw - (var(--padding) * 2) - 10px);
      height: calc(80vh - (var(--padding) * 2) - 10px);
      border: 10px solid var(--black);
      padding: var(--padding);
      position: relative;

      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 10px solid var(--red);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

}

@media only screen and (min-width: 1600px) {
  div.illustrations {
    border: 20px solid var(--black);
    width: calc(50vw - (var(--padding) * 2) - 20px);
    height: calc(80vh - (var(--padding) * 2) - 20px);
    &:before {
      border: 20px solid var(--red);
    }
  }
  ul.nav_items {
    li {
      a {
        font-size: 4.8rem;
      }
      &.active a {
        text-underline-offset: -2%;
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  ul.nav_items {
    li {
      a {
        font-size: 5.5rem;
      }
    }
  }
}
