div.card_boicote {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column-reverse;
}

div.boicote_left {
  padding: calc(var(--padding) / 2);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

div.left_vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  button {
    border: none;
    padding: 0;
    &.voted {
      svg {
        color: var(--red);
      }
    }
    svg {
      color: var(--white);
      font-size: 1.4rem;
      &:hover {
        filter: brightness(.9);
      }
    }
  }
  span {
    margin: .2rem 0;
  }
}

div.left_line_div {
  display: none;
}

p.flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  button {
    color: var(--white);
  }
}

span.comments_count {
  display: flex;
  align-items: center;
  margin-top: .8rem !important;
  font-size: .9rem;
}

span.comments_count_left {
  font-size: 1rem;
}

span.gamb_padding_left {
  display: none;
}

button.ver_tudo_btn {
  color: var(--white);
}

div.boicote_right {
  width: 100%;
  hr {
    margin: 0 var(--padding);
  }
}

div.smalls {
  color: var(--gray);
  font-style: italic;
  margin-bottom: .8rem;
  small {
    display: block;
    margin-bottom: .3rem;
  }
}

div.boicote_body {
  padding: var(--padding) var(--padding) 0 var(--padding);
}

header.boicote_header {
  padding: var(--padding);
  h3 {
    display: inline-block;
    line-height: 1.4rem;
    margin-bottom: .5rem;
    a {
      color: var(--black);
      font-size: 1.1rem;
      &:hover {
        text-decoration: none;
      }
    }
    small {
      color: var(--blue);
      white-space: nowrap;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

div.marca {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  small {
    font-size: .9rem;
    color: var(--gray);
    font-style: italic;
  }
  svg {
    color: var(--red);
    font-size: 2rem;
  }
}

p.text {
  text-align: justify;
  font-size: .95rem;
  margin-bottom: var(--padding);
}

div.links {
  padding: var(--padding);
  overflow-wrap: break-word;
  a {
    display: block;
    margin-bottom: .4rem;
  }
}

footer.footer {
  display: none;
}

// div.footer_vote {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: space-between;
//   font-size: 1.2rem;
//   color: var(--white);

//   button {
//     border: none;
//     padding: 0;
//     &.voted {
//       svg {
//         color: var(--red);
//       }
//     }

//     svg {
//       color: var(--white);
//       font-size: 1.4rem;
//       &:hover {
//         filter: brightness(.9);
//       }
//     }
//   }
//   span {
//     margin: .2rem 0;
//   }
// }

// div.footer_right {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   gap: 1rem;
//   color: var(--white);
// }

// div.footer_right_compact {
//   min-height: 5rem;
// }

// div.footer_comments_count {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   svg {
//     font-size: .9rem;
//     margin-right: .4rem;
//   }
// }

// div.footer_btns {
//   display: flex;
//   flex-direction: column;
//   gap: .5rem;

//   button {
//     color: var(--white);
//     a {
//       color: var(--white);
//       text-decoration: none;
//     }
//   }
// }

@media only screen and (min-width: 375px) {

  header.boicote_header {
    h3 {
      line-height: unset;
      a {
        font-size: unset
      }
    }
  }

  div.marca {
    // margin-bottom: .5rem;
    small {
      font-size: 1rem;
    }
  }

  p.text {
    font-size: 1rem;
  }

  // footer.footer {
  //   justify-content: space-evenly;
  // }

}

@media only screen and (min-width: 540px) {

  div.card_boicote {
    flex-direction: row;
  }

  div.boicote_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  div.left_line_div {
    display: block;
  }

  p.flex {
    padding-top: 1rem;
  }

  button.left_btns, span.comments_count_left {
    display: none;
  }

  button.ver_tudo_btn, span.comentario_text {
    display: none;
  }

  span.gamb_padding_left {
    display: block;
  }

  footer.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding);
    color: var(--white);
    background: var(--black);
    button {
      color: var(--white);
    }
  }

  div.footer_comments_count {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      font-size: .9rem;
    }
  }

  span.comment_text {
    display: none;
  }

  div.footer_btns {
    button {
      margin-right: .5rem;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  // div.boicote_left {
  //   display: flex;
  //   font-size: 1.5rem;
  //   & div:last-of-type {
  //     margin: 1rem 0 1rem 0;
  //   }
  // }

  // div.left_vote {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: space-between;
  //   font-size: 1.2rem;
  //   button {
  //     border: none;
  //     padding: 0;
  //     &.voted {
  //       svg {
  //         color: var(--red);
  //       }
  //     }
  //     svg {
  //       color: var(--white);
  //       font-size: 1.4rem;
  //       &:hover {
  //         filter: brightness(.9);
  //       }
  //     }
  //   }
  //   span {
  //     margin: .2rem 0;
  //   }
  // }

  // span.comments_count {
  //   display: flex;
  //   align-items: center;
  //   font-size: .9rem;
  //   margin-bottom: .3rem;
  //   svg {
  //     margin-right: .4rem;
  //   }
  // }

  // footer.footer {
  //   justify-content: flex-end;
  //   align-items: center;
  //   padding: calc(var(--padding) * 1.2) var(--padding);
  // }

  // div.footer_vote {
  //   display: none;
  // }

  // div.footer_right, div.footer_btns {
  //   flex-direction: row;
  // }

  // div.footer_comments_count {
  //   display: none;
  // }

  // div.footer_right_compact {
  //   min-height: auto;
  // }

  // footer.footer_compact {
  //   display: none;
  // }

}

@media only screen and (min-width: 768px) {

  // span.comments_count {
  //   display: none;
  // }

  // div.footer_right {
  //   width: 100%;
  // }

  // div.footer_comments_count {
  //   display: flex;
  // }

  div.smalls {
    margin-bottom: .5rem;
  }

  div.marca {
    justify-content: flex-start;
  }

  p.text {
    line-height: 1.4rem;
  }

  span.comment_text {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {

  // div.boicote_left {
  //   padding: calc(var(--padding) / 1.5);
  // }

  div.left_vote {
    span {
      margin: 0;
    }
  }

  div.boicote_right {
    min-height: 9rem;
  }

  div.smalls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    small {
      display: unset;
    }
  }

  header.boicote_header {
    padding: calc(var(--padding) / 1.5);
    h3 {
      font-size: 1.4rem;
      margin-bottom: 0;
      small {
        font-size: .95rem;
      }
    }
  }

  div.marca {
    svg {
      font-size: 2.2rem;
    }
  }

  // footer.footer {
  //   padding: calc(var(--padding) / 1.6) var(--padding) ;
  // }

}
