div.card_boicote {
  margin-bottom: 1rem;
}

div.boicote_left {
  display: none;
}

div.boicote_right {
  width: 100%;
  hr {
    margin: 0 var(--padding);
  }
}

div.smalls {
  color: var(--gray);
  font-style: italic;
  margin-bottom: .8rem;
  small {
    display: block;
    margin-bottom: .3rem;
  }
}

div.boicote_body {
  padding: var(--padding) var(--padding) 0 var(--padding);
}

header.boicote_header {
  padding: var(--padding);
  h3 {
    display: inline-block;
    line-height: 1.4rem;
    margin-bottom: .5rem;
    a {
      color: var(--black);
      font-size: 1.1rem;
      &:hover {
        text-decoration: none;
      }
    }
    small {
      color: var(--blue);
      white-space: nowrap;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

div.marca {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  small {
    font-size: .9rem;
    color: var(--gray);
    font-style: italic;
  }
  svg {
    color: var(--red);
    font-size: 2rem;
  }
}

p.text {
  text-align: justify;
  font-size: .95rem;
  margin-bottom: var(--padding);
}

footer.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding);
  // margin-top: 1.5rem;
  background: var(--black);
}

div.footer_vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  color: var(--white);

  button {
    border: none;
    padding: 0;
    &.voted {
      svg {
        color: var(--red);
      }
    }

    svg {
      color: var(--white);
      font-size: 1.4rem;
      &:hover {
        filter: brightness(.9);
      }
    }
  }
  span {
    margin: .2rem 0;
  }
}

div.footer_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5rem;
  color: var(--white);
}

div.footer_right_compact {
  min-height: 5rem;
}

div.footer_comments_count {
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    font-size: .9rem;
    margin-right: .4rem;
  }
}

div.footer_btns {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  button {
    color: var(--white);
  }
}

@media only screen and (min-width: 375px) {

  header.boicote_header {
    h3 {
      line-height: unset;
      a {
        font-size: unset
      }
    }
  }

  div.marca {
    // margin-bottom: .5rem;
    small {
      font-size: 1rem;
    }
  }

  p.text {
    font-size: 1rem;
  }

  footer.footer {
    justify-content: space-evenly;
  }

}

@media only screen and (min-width: 540px) {

  div.card_boicote {
    display: flex;
  }

  div.boicote_left {
    display: flex;
    font-size: 1.5rem;
    & div:last-of-type {
      margin: 1rem 0 1rem 0;
    }
  }

  div.left_vote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    button {
      border: none;
      padding: 0;
      &.voted {
        svg {
          color: var(--red);
        }
      }
      svg {
        color: var(--white);
        font-size: 1.4rem;
        &:hover {
          filter: brightness(.9);
        }
      }
    }
    span {
      margin: .2rem 0;
    }
  }

  span.comments_count {
    display: flex;
    align-items: center;
    font-size: .9rem;
    margin-bottom: .3rem;
    svg {
      margin-right: .4rem;
    }
  }

  footer.footer {
    justify-content: flex-end;
    align-items: center;
    padding: calc(var(--padding) * 1.2) var(--padding);
  }

  div.footer_vote {
    display: none;
  }

  div.footer_right, div.footer_btns {
    flex-direction: row;
  }

  div.footer_comments_count {
    display: none;
  }

  div.footer_right_compact {
    min-height: auto;
  }

  footer.footer_compact {
    display: none;
  }

}

@media only screen and (min-width: 768px) {

  span.comments_count {
    display: none;
  }

  div.footer_right {
    width: 100%;
  }

  div.footer_comments_count {
    display: flex;
  }

  div.smalls {
    margin-bottom: .5rem;
  }

  div.marca {
    justify-content: flex-start;
  }

  p.text {
    line-height: 1.4rem;
  }
}

@media only screen and (min-width: 1024px) {

  div.boicote_left {
    padding: calc(var(--padding) / 1.5);
  }

  div.left_vote {
    span {
      margin: 0;
    }
  }

  div.boicote_right {
    min-height: 9rem;
  }

  div.smalls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    small {
      display: unset;
    }
  }

  header.boicote_header {
    padding: calc(var(--padding) / 1.5);
    h3 {
      font-size: 1.4rem;
      margin-bottom: 0;
      small {
        font-size: .95rem;
      }
    }
  }

  div.marca {
    svg {
      font-size: 2.2rem;
    }
  }

  footer.footer {
    padding: calc(var(--padding) / 1.6) var(--padding) ;
  }

}
